/* Text styling */
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

h1, h2, h3, h4, h5 {
    font-family: 'Poppins';
    font-weight: 700;
    color: var(--text);
}

html {font-size: 100%;      /* 16px */} 
h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}



/* Overall styling */

:root {
    --text: #fefbfb;
    --background: #110404;
    --primary: #dc615b;
    --secondary: #2a0b09;
    --accent: #d2352d;
}

body {
    font-family: 'Poppins';
    font-weight: 400;
    height: 100vh;

    margin: 0;
    background: var(--background);
    background: linear-gradient(135deg, var(--accent) -100%, var(--secondary) 50%, var(--background) 100%);
}



/* Aligners */

.center {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.alignX {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}



/* Interactable styling */

input[type=text] {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.7rem;
    color:var(--text);

    border-style: solid;
    background-color: var(--background);
    border-color: var(--secondary);
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 50px;

    box-shadow: 0px 0px 10px var(--secondary);
    transition: 0.25s;
}

input[type=text]:hover {
    outline: none;
    border: 2px solid var(--accent);
    
}

input[type=text]:focus {
    outline: none;
    border: 2px solid var(--primary);
    box-shadow: 0px 0px 10px var(--accent) inset, 0px 0px 10px var(--accent);
}

.mainButton {
    padding: 15px 32px;
    border-radius: 50px;
}

.primaryButton {
    color:var(--text);
    font-family: 'Poppins';
    font-weight: 400;

    box-shadow: 0px 0px 0px var(--accent) inset, 0px 0px 0px var(--primary);
    
    font-size: 0.9rem; /* 21.28px */

    border-style: hidden;
    background-color: var(--primary);
    transition: 0.25s;
}

.primaryButton:hover {
    box-shadow: 0px 0px 0px var(--accent) inset, 0px 0px 10px var(--primary);
}

.primaryButton:active {
    background-color: var(--accent);
    box-shadow: 0px 0px 10px var(--accent) inset, 0px 0px 10px var(--accent);
}

.secondaryButton {
    color:var(--text);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.9rem; /* 21.28px */

    border-style: solid;
    border-color: var(--accent);
    background-color: var(--secondary);
    box-shadow: 0px 0px 3px var(--accent), 0px 0px 10px var(--accent) inset;
    transition: 0.25s;
}

.secondaryButton:hover {
    background-color: var(--secondary);
    border-color: var(--accent);
    box-shadow: 0px 0px 10px var(--accent), 0px 0px 10px var(--accent) inset;
}

.secondaryButton:active {
    background-color: var(--accent);
    border-color: var(--accent);
    box-shadow: 0px 0px 10px var(--accent) inset, 0px 0px 10px var(--accent);
    transition: 0.1s;
}

/* id styling */

#searchQuery {
    width: 200px;
    padding-right: 15px;
}

#searchAmount {
    width: 30px;
    padding-right: 15px;
    text-align: center;
}

#menu {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#titleDiv {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#title0 {
    margin: 0%;
    text-shadow: 0px 0px 10px var(--text);
}

#title1 {
    margin: 0%;
    color: rgba(255, 255, 255, 0.5);
}

::selection {
    background: transparent;
}

/* title styling */

#svgGroup1 {
    filter: drop-shadow(0px 0px 5px var(--text));
}

@keyframes mymove {
    0% {transform-origin: 0px 0px;}
    100% {transform-origin: 50px 90px;}
}

#svg_1 {
    transition: 0.5s;

    transform-origin: 0vw 12vw;
    position: relative;
    animation: mymove 5s ease-in-out infinite;
    animation-direction: alternate-reverse;
}